<table class="w100pct">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td class="w100vmin h10vmin">
        <button id="slotMachineButton" class="w40pct font_size_50pct bg_color_green" disabled onclick="showSlotMachine();return false;">
          Slot Machine
        </button>
        <button id="additionlDetailsButton" class="w40pct font_size_50pct bg_color_green" onclick="showAdditionalDetails();return false;" disabled>
          Withdraw, Captcha, Additional Details.
        </button>
        <button id="faqButton" class="w40pct font_size_50pct bg_color_green" onclick="showFAQ();return false;">
          FAQ
        </button>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="w100vmin h90vmin vertical_align_top">
        <span class="w100pct h90vmin">
          <table id="slotMachineTable" class="w100pct">
            <tbody>
              <tr>
                <td class="h15vmin" colspan="1">
                  <button class="w40pct font_size_50pct bg_color_green" onclick="waxjsWallet();return false;">
                    Log In<br>(Cloud Wallet)
                  </button>
                  <button class="w40pct font_size_50pct bg_color_green" onclick="anchorWallet();return false;">
                    Log In<br>(Anchor Wallet)
                  </button>
                  <button id="play" class="bg_light_green w80pct bg_color_green" onclick="play();return false;" disabled>Play!<br>(Or use the arm)</button>
                  <br>
                  <span class="bg_color_black">Logged in with <span class="selectable" id="owner"></span></span>
                  <br>
                  <span class="bg_color_black">
                    Welcome to monKeyslots slot machine!
                    <br>
                    The more cryptomonKeys NFTs you own, the better your chances to win some Banano!
                    <br>
                    Gameplay: draw 1 of {{templateCount}} cards, three times.
                    <br>
                    Only 1 of {{templateCount}} cards needed to win!.
                  </span>
                  {{#if anyCaptchaEnabled }}
                    <br>
                    <span class="bg_color_black">
                      Don't have any Banano? Do a captcha! You will be credited a small amount of Banano.
                    </span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <object id="slotMachine" class="w100pct h72vmin" type="image/svg+xml" data="slot-machine.svg"></object>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <span class="bg_color_black">Deposit Account: <span class="selectable" id="account"></span>
                </td>
              </tr>
            </tbody>
          </table>
          <table id="additionlDetailsTable" class="display_none w100pct">
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td colspan="1" class="w100pct bg_color_black rounded">
                  <span>House Account: </span><span class="selectable overflow_wrap_anywhere" id="houseAccount"></span>
                  <br>
                  <span>House Pending Balance: </span><span class="selectable" id="houseAccountBalance"></span>
                  <br>
                  <span>House Balance: </span><span class="selectable" id="houseAccountCacheBalance"></span>
                  <hr>
                  <span>Your Account Balance: </span><span class="selectable" id="accountCacheBalance"></span>
                  {{#if anyCaptchaEnabled}}
                    <p>
                      Don't have any Banano? Do a captcha! You will be credited a small amount of Banano.
                    </p>
                  {{/if}}
                  {{#if blackMonkeyEnabled}}
                    <button class="w40pct font_size_50pct bg_color_green" onclick="blackMonkeyImage();return false;">
                      Black Monkey!
                    </button>
                    <div id="blackMonkey">
                    </div>
                  {{/if}}
                  {{#if hcaptchaEnabled}}
                    <form action=" /hcaptcha" method="POST">
                      <div class="h-captcha" data-sitekey="{{hcaptchaSiteKey}}" data-size="compact" data-theme="dark" data-callback="dataCallback" data-expired-callback="dataExpiredCallback" data-error-callback="dataErrorCallback"></div>
                      <br />
                    </form>
                    <script>
                      function dataCallback() {
                        submitHcaptcha();
                      }

                      function dataExpiredCallback() {
                        submitHcaptcha();
                      }

                      function dataErrorCallback() {
                        submitHcaptcha();
                      }
                    </script>
                  {{/if}}
                  <form method="POST">
                    <span>
                      <p>
                        Withdraw To Account<br>
                        <input id="withdrawAccount" type="text" size="66" max_length="64" value="" defaultValue="To Account">
                      </p>
                      <p>
                        Withdraw Amount (Banano)<br>
                        <input id="withdrawAmount" type="number" size="66" max_length="64" min="0" step="any" value="0.0">
                      </p>
                      <p>
                        <button id="withdrawButton" class="w40vmin" title="Withdraw" onclick="withdraw(); return false;">Withdraw</button>
                        <hr>
                        <span id="withdrawResponse" class="selectable">No Withdrawal Yet, TX id will show here</span>
                      </p>
                    </span>
                  </form>
                </td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
          <table id="faqTable" class="display_none w100pct">
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td class="w100vmin bg_color_black rounded vertical_align_top">
                  <h1>FAQ</h1>
                  <ol>
                    <li>What is Banano? <a href="https://banano.cc/" target="_blank">https://banano.cc/</a>Banano is a feeless, instant, rich in potassium cryptocurrency powered by DAG technology disrupting the meme economy.</li>
                    <li>What is cryptomonKeys? <a href="http://cryptomonkeys.cc/" target="_blank">http://cryptomonkeys.cc/</a>
                      cryptomonKeys is a freely distributed, community-driven, meme-rich digital trading card series based on NFT technology, here to disrupt the meme economy.</li>
                    <li></li>
                    <li></li>
                    <li>Don't have wallet? Make one! <a href="https://wallet.wax.io" target="_blank">Make a wax wallet. </a></li>
                    <li>Don't have cryptomonKeys? Get some! <a href="https://wax.atomichub.io/market?collection_name=crptomonkeys" target="_blank">Get cryptomonKeys.</a></li>
                    <li>Login with Wax wallet (Anchor or Cloud)</li>
                    <li>Either deposit Banano or work the captcha to get a Banano</li>
                    <li>Bet or withdraw</li>
                    <li>Frozen cards? they unfreeze after eight hours. come back and play again!</li>
                    <li>the login will ask you to approve both a "know account name" and a "getrand" transaction to prove you are the owner of the account, and open a game session for your account. (Otherwise anyone could impersonate your account if
                      they know it's name)</li>
                    <li> there are three stacks of cards, each stack contains all 45 cards.
                      <br>
                      each play it draws 1 card from each stack, three cards total.
                      <br>
                      if you own all three of the cards that were drawn, you win.
                    </li>
                  </ol>
                </td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </span>
      </td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<span class="display_none" id="ownedAssets"></span>
<span class="display_none" id="nonce"></span>
<span class="display_none" id="nonceHash"></span>
<span class="display_none" id="lastNonceHash"></span>
<span class="display_none" id="transaction_id"></span>
<audio id="start" src="sounds/69717__lukaso__start-1.wav" preload="auto"></audio>
<audio id="wheel" src="sounds/69701__lukaso__wheel4.wav" preload="auto"></audio>
<audio id="winner" src="sounds/69696__lukaso__jackpot8.wav" preload="auto"></audio>
<audio id="loser" src="sounds/69699__lukaso__slotloser.wav" preload="auto"></audio>
<audio id="money" src="sounds/69693__lukaso__5gokkasttrekarms.wav" preload="auto"></audio>
<div id="burnAccount" class="display_none">{{burnAccount}}</div>
<!-- https://www.kirilv.com/canvas-confetti/ -->
<!-- <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.3/dist/confetti.browser.min.js"></script> -->
<script src="js-lib/confetti-1.4.0.js"></script>
<script src="https://unpkg.com/anchor-link@2"></script>
<script src="https://unpkg.com/anchor-link-browser-transport@2"></script>
{{#if hcaptchaEnabled}}
  <script src="https://hcaptcha.com/1/api.js" async defer></script>
{{/if}}
<script type="module" src="js/views/slots.js"></script>
