<table class="t_center align_top display_inline_block h20_0vw">
  <tbody>
    <tr>
      <td colspan="1">
      </td>
      <td class="t_center align_top w100pct selectable" colspan="3">
        <span class="bg_tan rounded">
          Owner: <span id="owner"></span>
        </span>
      </td>
      <td colspan="1">
      </td>
    </tr>
    <tr>
      <td class="align_top w100pct selectable small" colspan="5">
        <span class="bg_tan rounded">
          <span class="rounded">Account: </span><span id="account"></span>
        </span>
      </td>
    </tr>
    <tr>
      <td class="align_top w100pct selectable small" colspan="5">
        <span class="bg_tan rounded">
          <span class="rounded">Your Pending Balance: </span><span id="accountBalance"></span>
          <span class="rounded">Your Balance: </span><span id="accountCacheBalance"></span>
        </span>
        <span class="bg_tan rounded">
          <span class="rounded">House Pending Balance: </span><span id="houseAccountBalance"></span>
          <span class="rounded">House Balance: </span><span id="houseAccountCacheBalance"></span>
        </span>
      </td>
    </tr>
    <tr>
      <td class="align_top w100pct selectable small" colspan="5">
        <span class="bg_tan rounded">
          Gameplay: draw 1 of {{templateCount}} cards, three times. Only 1 of {{templateCount}} cards needed to win!.
        </span>
      </td>
    </tr>
    <tr>
      <td class="align_top w100pct selectable small display_none" colspan="5">
        Nonce: <span id="nonce"></span>
      </td>
    </tr>
    <tr>
      <td class="align_top w100pct selectable small display_none" colspan="5">
        Nonce Hash: <span id="nonceHash"></span>
      </td>
    </tr>
    <tr>
      <td class="align_top w100pct selectable small display_none" colspan="5">
        Last Nonce Hash: <span id="lastNonceHash"></span>
      </td>
    </tr>
    <tr>
      <td class="align_top w100pct selectable small display_none" colspan="5">
        Last Nonce Tx Id: <span id="transaction_id"></span>
      </td>
    </tr>
    <tr class="h5_0vw">
      <td class="align_top w20pct">&nbsp;</td>
      <td class="align_top w20pct selectable">
        <button class="w40pct font_size_50pct" onclick="waxjsWallet();return false;">
          Log In Again<br>(Cloud Wallet)
        </button>
        <button class="w40pct font_size_50pct" onclick="anchorWallet();return false;">
          Log In Again<br>(Anchor Wallet)
        </button>
      </td>
      <td class="align_top w20pct">
        <form class="bg_orange rounded small monospace w100pct">
          Bet :
          <input id="bet" type="number" oninput="this.value=(parseInt(this.value)||0)" placeholder="0-9" autofocus='' value='1' />
          <br>
          <span id="score" class="selectable">No Score</span>
        </form>
      </td>
      <td class="align_top w20pct selectable">
        <button id="play" class="bg_light_green w80pct" onclick="play();return false;" disabled>
          Play!
        </button>
      </td>
      <td class="align_top w20pct">&nbsp;</td>
    </tr>
  </tbody>
</table>
<table class="t_center align_top display_inline_block">
  <tbody>
    <tr>
      <td class="align_top w100pct" colspan="5">
        <div class="w5_0vh"></div>
      </td>
    </tr>
    <tr>
      <td class="align_top w13pct">&nbsp;</td>
      <td id="card1" class="align_top w12pct selectable">&nbsp;</td>
      <td class="align_top w2pct">&nbsp;</td>
      <td id="card2" class="align_top w12pct selectable">&nbsp;</td>
      <td class="align_top w3pct">&nbsp;</td>
      <td id="card3" class="align_top w12pct selectable">&nbsp;</td>
      <td class="align_top w15pct">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="5" class="align_top">
      </td>
    </tr>
  </tbody>
</table>
<hr>
{{#if hcaptchaEnabled}}
  <form action="/hcaptcha" method="POST">
    <div class="h-captcha" data-sitekey="{{hcaptchaSiteKey}}" data-callback="dataCallback" data-expired-callback="dataExpiredCallback" data-error-callback="dataErrorCallback"></div>
    <br />
  </form>
  <script>
    function dataCallback() {
      submitHcaptcha();
    }

    function dataExpiredCallback() {
      submitHcaptcha();
    }

    function dataErrorCallback() {
      submitHcaptcha();
    }
  </script>
{{/if}}
<table class="t_center align_top display_inline_block w1200px">
  <tbody>
    <tr>
      <td colspan="5" class="align_top">
        <form method="POST" class="t_center">
          <span class="bg_tan rounded">
            <h3>Withdraw To Account</h3>
            <input id="withdrawAccount" class="bg_light_green monospace small" type="text" size="66" max_length="64" value="" defaultValue="To Account">
            <h3>Withdraw Amount (Bananos)</h3>
            <input id="withdrawAmount" class="bg_light_green monospace small" type="monospace" size="66" max_length="64" min="0" step="any" value="0.0">
            <p>
              <button id="withdrawButton" class="bg_light_green" style="width:350px" title="Withdraw" onclick="withdraw(); return false;">Withdraw</button>
              <hr>
              <span id="withdrawResponse" class="selectable small">No Score</span>
          </span>
        </form>
      </td>
    </tr>
  </tbody>
</table>
<audio id="start" src="sounds/69717__lukaso__start-1.wav" preload="auto"></audio>
<audio id="wheel" src="sounds/69701__lukaso__wheel4.wav" preload="auto"></audio>
<audio id="winner" src="sounds/69696__lukaso__jackpot8.wav" preload="auto"></audio>
<audio id="loser" src="sounds/69699__lukaso__slotloser.wav" preload="auto"></audio>
<audio id="money" src="sounds/69693__lukaso__5gokkasttrekarms.wav" preload="auto"></audio>
<div id="burnAccount" class="display_none">{{burnAccount}}</div>
<script src="https://unpkg.com/anchor-link@2"></script>
<script src="https://unpkg.com/anchor-link-browser-transport@2"></script>
{{#if hcaptchaEnabled}}
  <script src="https://hcaptcha.com/1/api.js" async defer></script>
{{/if}}
<script type="module" src="js/views/slots.js"></script>
