<table class="w100pct">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td class="w100vmin h10vmin">
        <button id="slotMachineButton" class="w40pct font_size_50pct" disabled onclick="showSlotMachine();return false;">
          Slot Machine
        </button>
        <button id="additionlDetailsButton" class="w40pct font_size_50pct" onclick="showAdditionalDetails();return false;">
          Withdraw, Captcha, Additional Details.
        </button>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="w100vmin h90vmin">
        <span class="w100pct h90vmin">
          <table id="slotMachineTable" class="w100pct">
            <tbody>
              <tr>
                <td class="h15vmin" colspan="1">
                  <button class="w40pct font_size_50pct" onclick="waxjsWallet();return false;">
                    Log In Again<br>(Cloud Wallet)
                  </button>
                  <button class="w40pct font_size_50pct" onclick="anchorWallet();return false;">
                    Log In Again<br>(Anchor Wallet)
                  </button>
                  <button id="play" class="bg_light_green w80pct" onclick="play();return false;" disabled>Play!<br>(Or use the arm)</button>
                  <br>
                  <span class="bg_color_black">Logged in with <span class="selectable" id="owner"></span></span>
                  <br>
                  <span class="bg_color_black">
                    Gameplay: draw 1 of {{templateCount}} cards, three times.
                    <br>
                    Only 1 of {{templateCount}} cards needed to win!.
                  </span>
                  {{#if hcaptchaEnabled}}
                    <span class="bg_color_black">
                      Don't have any banano? Do a captcha! You will be credited a small amount of banano.
                    </span>
                  {{/if}}
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <object id="slotMachine" class="w100pct h72vmin" type="image/svg+xml" data="slot-machine.svg"></object>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <span class="bg_color_black">Banano Account: <span class="selectable" id="account"></span>
                </td>
              </tr>
            </tbody>
          </table>
          <table id="additionlDetailsTable" class="display_none w100pct">
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td colspan="1" class="w100vmin bg_color_black rounded">
                  <span>House Account: </span><span class="selectable overflow_wrap_anywhere" id="houseAccount"></span>
                  <br>
                  <span>House Pending Balance: </span><span class="selectable" id="houseAccountBalance"></span>
                  <br>
                  <span>House Balance: </span><span class="selectable" id="houseAccountCacheBalance"></span>
                  {{#if hcaptchaEnabled}}
                    <p>
                      Don't have any banano? Do a captcha! You will be credited a small amount of banano.
                    </p>
                    <form action=" /hcaptcha" method="POST">
                      <div class="h-captcha" data-sitekey="{{hcaptchaSiteKey}}" data-size="compact" data-theme="dark" data-callback="dataCallback" data-expired-callback="dataExpiredCallback" data-error-callback="dataErrorCallback"></div>
                      <br />
                    </form>
                    <script>
                      function dataCallback() {
                        submitHcaptcha();
                      }

                      function dataExpiredCallback() {
                        submitHcaptcha();
                      }

                      function dataErrorCallback() {
                        submitHcaptcha();
                      }
                    </script>
                  {{/if}}
                  <form method="POST">
                    <span>
                      <p>
                        Withdraw To Account<br>
                        <input id="withdrawAccount" type="text" size="66" max_length="64" value="" defaultValue="To Account">
                      </p>
                      <p>
                        Withdraw Amount (banano)<br>
                        <input id="withdrawAmount" type="number" size="66" max_length="64" min="0" step="any" value="0.0">
                      </p>
                      <p>
                        <button id="withdrawButton" class="w40vmin" title="Withdraw" onclick="withdraw(); return false;">Withdraw</button>
                        <hr>
                        <span id="withdrawResponse" class="selectable">No Withdrawal Yet, TX id will show here</span>
                      </p>
                    </span>
                  </form>
                </td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </span>
      </td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<span class="display_none" id="nonce"></span>
<span class="display_none" id="nonceHash"></span>
<span class="display_none" id="lastNonceHash"></span>
<span class="display_none" id="transaction_id"></span>
<audio id="start" src="sounds/69717__lukaso__start-1.wav" preload="auto"></audio>
<audio id="wheel" src="sounds/69701__lukaso__wheel4.wav" preload="auto"></audio>
<audio id="winner" src="sounds/69696__lukaso__jackpot8.wav" preload="auto"></audio>
<audio id="loser" src="sounds/69699__lukaso__slotloser.wav" preload="auto"></audio>
<audio id="money" src="sounds/69693__lukaso__5gokkasttrekarms.wav" preload="auto"></audio>
<div id="burnAccount" class="display_none">{{burnAccount}}</div>
<!-- https://www.kirilv.com/canvas-confetti/ -->
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.3/dist/confetti.browser.min.js"></script>
<script src="https://unpkg.com/anchor-link@2"></script>
<script src="https://unpkg.com/anchor-link-browser-transport@2"></script>
{{#if hcaptchaEnabled}}
  <script src="https://hcaptcha.com/1/api.js" async defer></script>
{{/if}}
<script type="module" src="js/views/slots.js"></script>
