html,
table,
tbody,
tr,
td,
span,
form,
ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vmin;
  border: 0;
  padding: 0;
  margin: 0.4rem;
  text-align: center;
  vertical-align: middle;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vmin;
  border: 0;
  padding: 0;
  margin: 0;
  text-align: left;
  vertical-align: middle;
}

span,
form,
ul,
li,
p {
  color: black;
}

button {
  background-color: green;
  color: white;
  border-color: white;
}

button:disabled,
button[disabled] {
  background-color: darkgray;
  color: gray;
  border-color: gray;
}

tbody {
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background: url(forest-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg_primary {
  background-color: gray;
}

.bg_color_white {
  background-color: white;
}

.bg_color_black {
  background-color: black;
}

.bg_color_red {
  background-color: red;
}

.bg_color_lightblue {
  background-color: lightblue;
}

.bg_color_gray {
  background-color: rgb(73, 72, 72);
}

.bg_color_green {
  background-color: rgb(76, 191, 75);
}

.bg_color_darkgreen {
  background-color: rgb(0, 128, 0);
  border-radius: 1rem;
}

.bg_color_yellow {
  background-color: rgb(251, 221, 17);
}

.bg_color_brightyellow {
  background-color: rgb(252, 248, 4);
}

.color_black {
  color: black;
}

.color_white {
  color: white;
}

.color_red {
  color: red;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.vertical_align_top {
  vertical-align: top;
}

.float_left {
  float: left;
}

.rounded {
  border-radius: 4vmin;
  padding: 4vmin;
  margin: 4vmin;
}

.display_none {
  display: none;
}

.overflow_wrap_anywhere {
  overflow-wrap: anywhere;
}

.not_selectable {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

.selectable {
  cursor: text;
  user-select: text;
  -webkit-user-select: text;
}

table.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.w100pct {
  width: 100%;
}

.w99pct {
  width: 99%;
}

.w66pct {
  width: 66%;
}

.w33pct {
  width: 33%;
}

.w60pct {
  width: 60%;
}

.w20pct {
  width: 20%;
}

.w200vmin {
  width: 200vmin;
}

.w100vmin {
  width: 100vmin;
}

.w40vmin {
  width: 40vmin;
}

.h90vmin {
  height: 90vmin;
}

.h58vmin {
  height: 58vmin;
}

.h66vmin {
  height: 66vmin;
}

.h68vmin {
  height: 68vmin;
}

.h72vmin {
  height: 72vmin;
}

.h35vmin {
  height: 35vmin;
}

.h15vmin {
  height: 15vmin;
}

.bet {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
}

.bet li {
  float: left;
  margin: 2vmin 2vmin 2vmin 2vmin;
  width: 10vmin;
  height: 4vmin;
  position: relative;
}

.bet label,
.bet input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bet input[type='radio'] {
  opacity: 0.01;
  z-index: 100;
}

.bet input[type='radio']:checked + label,
.Checked + label {
  background: yellow;
}

.bet label {
  padding: 0.5vmin;
  border: 0.1vmin solid #ccc;
  cursor: pointer;
  z-index: 90;
}

.bet label:hover {
  background: #ddd;
}

.exit_link {
  text-decoration: none;
  font-weight: bold;
  color: rgb(6, 156, 42);
}

.exit_link:visited {
  color: rgb(6, 156, 42);
}

.exit_link:active {
  color: #aaa;
}

.exit_link:hover {
  color: #aaa;
}

.mb-3 {
  margin-left: 10%;
  margin-right: 10%;
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.bpm0 {
  border: 0;
  padding: 0;
  margin: 0;
}

.fill_lightgreen_stroke_green {
  background-color: lightgreen;
  border-color: green;
  border-width: 0.5vmin;
}

.fill_pink_stroke_red {
  background-color: pink;
  border-color: red;
  border-width: 0.5vmin;
}

.monospace {
  font-family: monospace;
}

.bordered {
  border-radius: 0.4vmin;
  border: solid;
  border-width: 0.1vmin;
}

.text_align_center {
  text-align: center;
}
