/*
 * https://coolors.co/50514f-d6f49d-909cc2-e54f6d-ca1551
 */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0vw;
  overflow-y: scroll;
  text-align: center;
}

body {
  background-image: url("936f0a3623354519cf12daa9dd0d80714e686dc6240d14cec0b7e66a084e2bb6.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FCECC9;
  color: #2E3532;
  margin: 0;
  height: 60.0vh;
}

input, textarea, button {
  background-color: #3A7CA5;
  color: white;
  -webkit-appearance: none;
  border: 0.2vh solid #2E3532;
  border-radius: 0.3vh;
  padding: 0.3vh;
  margin: 0.3vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.0vh;
}

button {
  width: 6.0vh;
  height: 6.0vh;
}

hr {
  border: 0;
  height: 0.1vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1, h2, h3 {
  margin: 0;
}

tr, td {
  padding: 0;
}

form {
  padding: 0;
  margin: 0;
}

table {
  border-spacing: 0;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 0.1vh;
  solid #ccc;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.4vh 1.6vh;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.t_left {
  text-align: left;
}

.t_center {
  text-align: center;
}

.monospace {
  font-family: monospace;
}

.align_top {
  vertical-align: top;
}

.align_center {
  vertical-align: middle;
}

.float_left {
  float: left;
}

.display_inline {
  display: inline;
}

.display_inline_block {
  display: inline-block;
}

.display_none {
  display: none;
}

.w2pct {
  width: 2%;
}

.w3pct {
  width: 3%;
}

.w5pct {
  width: 5%;
}

.w10pct {
  width: 10%;
}

.w12pct {
  width: 12%;
}

.w13pct {
  width: 13%;
}

.w15pct {
  width: 15%;
}

.w18pct {
  width: 18%;
}

.w20pct {
  width: 20%;
}

.w30pct {
  width: 30%;
}

.w40pct {
  width: 40%;
}

.w50pct {
  width: 50%;
}

.w60pct {
  width: 60%;
}

.w70pct {
  width: 70%;
}

.w80pct {
  width: 80%;
}

.w90pct {
  width: 90%;
}

.w100pct {
  width: 100%;
}

.w17_0vh {
  width: 17.0vh;
}

.w8_0vw {
  width: 8.0vw;
}

.w35_0vh {
  width: 35.0vh;
}

.w5_0vh {
  width: 5.0vh;
}

.w25_0vh {
  width: 25.0vh;
}

.h5_0vw {
  height: 5.0vw;
}

.h15_0vw {
  height: 15.0vw;
}

.h20_0vw {
  height: 20.0vw;
}

.font_size_50pct {
  font-size: 50%;
}

.exit_link {
  text-decoration: none;
  color: #000;
}

.exit_link:visited {
  color: #000;
}

.exit_link:active {
  color: #333;
}

.exit_link:hover {
  color: #333;
}

.button {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.not_selectable {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

.selectable {
  cursor: text;
  user-select: text;
  -webkit-user-select: text;
}

.word_wrap_break_word {
  word-wrap: break-word;
}

.small {
  margin: 0px;
  font-size: 0.5vw;
}

.bordered {
  border-radius: 0.4vh;
  border: solid;
  border-width: 0.1vh;
}

.bordered2px {
  border-radius: 0.4vh;
  border: solid;
  border-width: 0.2vh;
}

.rounded {
  border-radius: 0.3vh;
  padding: 0.3vh;
  margin: 0.3vh;
  display: inline-block;
}

.bg_tan {
  background-color: #FCECC9;
}

.bg_orange {
  background-color: orange;
}

.bg_light_green {
  background-color: #4aad52;
}

.bg_pink {
  background-color: red;
  color: white;
}

.fg_transparent {
  color: rgba(255, 255, 255, 0.0)
}
